<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YYKuaibo (iapppay simulator).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>YYKuaibo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCE255FD1C966A8E00133F4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCE256161C966A8E00133F4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCE256211C966A8E00133F4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCF346911CCAB9FD005DEFFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
